*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Use 'margin: auto' for non flexbox/grid projects */


/* Fits images in containers no matter the size */

img {
   max-width: 100%;
   height: auto;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 327px;
  height: 512px;
  /* border: 2px solid black; */
  border-radius: 8px;
  box-shadow: 1px 22px 15px -1px #DEDEDE;
}

.drawers {
  width: 327px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.heading {
  width: 263px;
  height: 72px;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  color: #48556A;
  line-height: 24px;
  margin-top: 30px;
}

.para {
  width: 257px;
  height: 100px;
  font-family: 'Manrope', sans-serif;
  font-weight: medium;
  font-size: 13px;
  color: #6E8098;
  line-height: 20px;
  letter-spacing: 0.12px;
  margin-top: 15px;
}

#sig-section {
  display: flex;
  justify-content: space-around;
  width: 327px;
  height: 66px;
  border-radius: 0 0 10px 10px;
  margin: 32px 0 0 0;
  /* border: 2px solid black; */
}

/* FOR JAVASCRIPT BOILERPLATE */

#sig-section-event {
  visibility: hidden;
  display: flex;
  position: absolute;
  justify-content: space-around;
  width: 327px;
  height: 66px;
  border-radius: 0 0 10px 10px;
  margin: 400px 0 0 0;
  background-color: #48556A;
  /* border: 2px solid black; */
}

/* FOR JAVASCRIPT BOILERPLATE */

#share-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 175px;
  height: 20px;
  /* border: 2px solid black; */
  margin: 22px 0 0 0;
}

#share-row h2 {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  letter-spacing: 5px;
  color: #9DAEC2;
  font-weight: 200;
}

/* ------------------------------- */

.name-date-container {
  width: 172px;
  height: 40px;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  line-height: 20px;
  /* border: 2px solid black; */
  justify-content: center;
  margin: 0 0 0 8px;
}

.full-name {
  font-weight: bold;
  color: #48556A;
}

.date {
  color: #9DAEC2;
}

.share {
  width: 32px;
  height: 32px;
  margin: 9px 40px 0 -15px;
}

#dark-share {
  display: inline-block;
  margin: 14px 18px 0 0;
}

.michelle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 0 0 25px;
}

.attribution {
  margin-top: 35px;
}

/* Hover Animations */

.share:hover {
  cursor: pointer;
}

.pintrest-icon:hover,
.twitter-icon:hover {
  cursor: pointer;
}